.container {
  margin: 0 auto;
  padding: 15px 20px;

  @media (min-width: $tablet) {
    padding: 40px 40px;
  }

  @media (min-width: $desktop) {
    padding: 75px 80px;
  }

  @media (min-width: $desktop-plus) {
    padding: 90px 100px;
  }

  @media (min-width: $laptop) {
    padding: 110px 120px;
  }
}