// Брейкпоинты

$tablet: 768px;
$desktop: 992px;
$desktop-plus: 1280px;
$laptop: 1440px;


// Цвета

$black: black;
$white: white;
$yellow: #F5CE13;
$green: #A1C864;
$red: #AE1332;
$pink: #E03F5E; // для попапа с подтверждением